In [1]:
print("hola")

hola

### Fundamentos de python 
* Variables 
* Operadores matematicos
* Operadores de comparacion
* Estructuras de control
    - Condicionales simples
    - Condicionales encadenados
    - Circulos finitos
    - Circulos infinitos
    
* Funciones
* Estructuras de datos
    - Cadenas de caracteres
    - Listas
    - Tuplas 
    - Diccionarios

# Variables

In [2]:
name = "josefino"
name

In [3]:
lastname = "primero"

In [4]:
last_name = "primero"

In [7]:
base = 23
height = 10
area = base * height
area

230

In [13]:
print("area:", area)
print("apellido:", last_name)
print("base del triangulo", base)

area: 230
apellido: primero
base del triangulo 23

### Operadores matematicos basicos

In [16]:
# suma
number_1 = 10
number_2 = 20
result = number_1 + number_2
result
print("El resultado es:", result)

El resultado es: 30

In [18]:
# resta
number_1 = 10
number_2 = 20
result = number_1 - number_2
result
print("La resta es:", result)

El resta es: -10

In [17]:
# multiplicacion
number_1 = 10
number_2 = 20
result = number_1 * number_2
result
print("La multiplicacion es:", result)

El resta es: 200

In [20]:
# division
number_1 = 10
number_2 = 20
result = number_1 / number_2
result
print("La division es:", result)

La division es: 0.5

In [22]:
print( type(last_name))
print( type(number_1))
print( type(result))

<class 'str'>
<class 'int'>
<class 'float'>

Estructura de control

In [1]:
name1 = "pablo"
age = 16

In [ ]:
# if condicion:
#  print ("saludos")

In [2]:
# condicional simple
if (age > 15):
   print("puedes pasar")

puedes pasar

In [ ]:
# operaores de comparacion 
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# igual? ==
# diferente? !=

In [ ]:
# Operadores logicos 
# and
# or
# not

In [12]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15):
   if day == "sabado":
      print("puedes pasar", name1)

puedes pasar josefino

In [17]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15) and (day == "sabado"):
      print("puedes pasar", name1)

In [21]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15) and (day == "sabado") or (day == "viernes"):
      print("puedes pasar", name1)

puedes pasar jose

In [20]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15) and (day == "sabado" or "viernes"):
      print("puedes pasar", name1)

In [24]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15):
     if (day == "sabado") or (day == "viernes"):
        print("puedes pasar", name1)

puedes pasar jose 21

In [26]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15):
    print("puedes pasar", name1)
else:
    print("No puedes pasar", name1)
    #  if (day == "sabado") or (day == "viernes"):
    #     print("puedes pasar", name1)

No puedes pasar jose

In [29]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15):
     if (day == "sabado") or (day == "viernes"):
        print("puedes pasar", name1)
     else:
        print("no es sabado ni viernes")
else:
    print("menor de 15")

no es sabado ni viernes

In [30]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = int(input("ingrese su edad: "))
day = input("Ingrese dia de la semana: ")
#age = int(age)
#age = float(age)

if (age > 15):
     day= input("Ingrese dia de la semana")

     if (day == "sabado") or (day == "viernes"):
        print("puedes pasar", name1)
     else:
        print("no es sabado ni viernes")
else:
    print("menor de 15")

menor de 15

### Condicionales encadenados

In [40]:
day = input("Ingrese dia de la semana: ")

if day == "lunes":
    print("Voy al cine")

elif day == "martes":
        print("voy al gym")

elif day == "miercoles":
        print("voy al mercaado")

elif day == "jueves":
        print("voy al padel")

elif day == "viernes":
        print("voy de farra")

else: 
    print("Fin de semana")

Fin de semana

### Ciclos finitos -> for

In [48]:
# for var in range(start, stop, step): 
for var in range(5,11,2):
    if var == 5:
        print("encontre el", var)

encontre el 5

In [41]:
range(5)

range(0, 5)

In [49]:
# listas
name_list = ["jose","maria","pedro"]

In [50]:
len(name_list)

3

In [ ]:
type(name_list)

In [51]:
name_list.append("pablo")

In [52]:
name_list

['jose', 'maria', 'pedro', 'pablo']

In [53]:
name_list.count("jose")

1

In [54]:
name_list.append("jose")

In [55]:
name_list.count("jose")

2

In [56]:
name_list.sort()

In [57]:
name_list

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [58]:
name_list_2 = name_list.copy()

In [59]:
name_list_2

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [62]:
# recorrer la lista
for name in name_list:
    if name == "maria":
        print("maria te encontre")

maria te encontre

In [63]:
name_list[0]

'jose'

In [64]:
name_list[4]

'pedro'

In [68]:
name_list[0:3]

['jose', 'jose', 'maria']

In [69]:
name_list[:3]

['jose', 'jose', 'maria']

In [70]:
name_list[2:4]

['maria', 'pablo']

In [71]:
name_list[-1]

'pedro'

In [72]:
name_list[-4:-1]

['jose', 'maria', 'pablo']

In [74]:
#len da longitud de lista
len(name_list)

5

In [77]:
# recorrer la lista por el indice 
for name in range(len(name_list)):
    print(name_list[name])

jose
jose
maria
pablo
pedro